<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión | TechStore</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<header>
    <h1>TechStore</h1>
    <nav>
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/view-productos}">Productos</a>
        <a th:href="@{/contacto}">Contacto</a>
        <a th:href="@{/register}">Register</a>
    </nav>
</header>

<main>
    <div class="login-card">
        <h2>Iniciar Sesión</h2>
        <p>Accede a tu cuenta</p>

        <form th:action="@{/login}" method="post">

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Contraseña</label>
            </div>

            <button type="submit">Ingresar</button>

            <p class="register-link">
                ¿No tienes cuenta?
                <a th:href="@{/register}">Regístrate</a>
            </p>

        </form>
    </div>
</main>

<footer>
    <p>&copy; 2026 TechStore</p>
</footer>

</body>
</html>
